[2015-02-02 15:20] glena opened #1 "Update readme"
Is needed to add the bundle in the kernell

https://github.com/auth0/jwt-auth-bundle/blob/master/example/app/AppKernel.php#L20

[2015-02-02 15:26] glena commented on #1
done.

[2015-02-02 15:26] #1 closed

[2015-05-07 20:32] glena opened #2 "Remove auth0 dependency from the project"

[2015-05-07 20:34] glena opened #3 "Auth0 settings should be optional"
It should be only be mandatory if using auth0Service

[2015-05-07 20:34] glena opened #4 "Use auth0-php instead of custom implementation no Auth0Service"

[2015-05-08 18:05] glena commented on #4
done

[2015-05-08 18:05] #4 closed

[2015-05-08 19:02] glena commented on #3
done

[2015-05-08 19:02] #3 closed

[2015-05-08 19:02] glena commented on #2
done

[2015-05-08 19:02] #2 closed

[2015-05-12 14:08] glena opened #6 "SDK Client headers spec compliant"

[2015-05-12 14:09] glena commented on #6
done

[2015-05-12 14:09] #6 closed

[2015-09-16 13:54] tristanbes opened #15 "Installation method is incorrect"
Composer requires that the installation of a library is made via

`composer require library (version) `
https://getcomposer.org/doc/03-cli.md#require

It would be best if you specify that instead of manually adding lines in composer.json

[2015-09-16 13:57] tristanbes opened #16 "Deps are wrong"
Either the bundle has depandancies (or even dev-depandancies), and in that case those depandancies should go in the `composer.json`

But in the installation process you can't say install this bundle by adding the bundle itself and another library (https://github.com/auth0/jwt-auth-bundle/blame/master/README.md#L43) `"adoy/oauth2": "dev-master",`

[2015-09-16 14:00] glena commented on #16
I think this is out of date.
Previouslt `adoy/oauth2` didnt have ant update tag so point to `dev-master` was needed (they tag a new release recently after a PR I send). Since `dev-master` is not `stable` it is easier to add it manually than making the users change the min stability requirements of their project.

I will update the readme, thanks

[2015-10-28 22:01] adrienbrault commented on #16
Can you require a tagged version of that dependency ? There are tags: https://github.com/adoy/PHP-OAuth2/releases

[2015-10-29 12:14] glena commented on #16
You are right, I am releasing a new revision with this fix. thx

[2015-10-29 12:14] #16 closed

[2015-10-29 12:18] glena commented on #15
The reason of how it recommend to install was because adoy oauth didn't have a tagged version with the latest changes (it was easier and safer than changing the min stability setting).

Now that they tag it I am changing the doc.

Thanks

[2015-10-29 12:18] #15 closed

[2015-11-15 15:32] mickadoo opened #18 "Setting secret_base64_encoded as false causes an exception"
In the `jwt_auth` configuration block setting `secret_base64_encoded` to false throws a `InvalidConfigurationException` with the message

Since the default is true, this means I can't set `secret_base64_encoded` to be false.

[2015-11-16 22:01] glena commented on #18
good catch, I will merge and make the release tomorrow.
Thanks

[2015-11-17 13:22] #18 closed

[2015-11-17 13:27] glena commented on #18
And v1.2.6 it is.

Thanks

[2016-01-07 08:39] 3kynox opened #20 "... but is not mandatory"
Hello there !

Any example to use this bundle without auth0 use ?

Maybe using FOSUser bundle ?

Thanks !

[2016-01-07 11:49] glena commented on #20
No, but setting your own user provider (`a0_user_provider` service) and your own `jwt_auth` config should be enough.

The user provider needs to implement this methods https://github.com/auth0/jwt-auth-bundle/blob/master/src/Security/Auth0Service.php

The only thing left is that it will install the `auth0-php` dependency but it shouldnt bother

[2016-01-29 12:09] #20 closed

[2016-01-29 14:00] frodosghost opened #24 "Symfony 3.0 Upgrade"
Yesterday I raised a PR #22, but in using the bundle in Symfony 3 I had to make a few more changes. These changes won't work in the Symfony 2.x branches. This is because of the location of `SimplePreAuthenticatorInterface` in the files directory.

What is the process of requesting a merge in this instance? I was going to create a new PR, but that would break the `1.2` branch from working with Symf

[2016-01-29 14:05] glena commented on #24
Hi @frodosghost,

I just pushed a new branch called `2.x.x-dev`.

I really appreciate your contributions, feel free to target the PR to this branch.

Thank you

[2016-01-29 14:38] frodosghost commented on #24
Hi @glena,

Not a problem. Raised PR #25 for your review.

[2016-01-29 14:38] #24 closed

[2016-01-29 14:39] glena commented on #24
:clap: awesome man, so many thanks.

I will review it later today and release v2.0.0

[2016-05-17 13:40] mickadoo opened #29 "decode call uses invalid arguments"
Since [this commit](https://github.com/auth0/auth0-PHP/commit/b2eed3736256fda1d407b1f4bd9c796e68dadc5c#diff-58851c54f52841c79c57f1c5dfff1b76) was merged it looks to me like `Auth0Service::decodeJWT` will pass an invalid argument:

```return Auth0JWT::decode($encToken, $this->client_id, $this->client_secret, $this->secret_base64_encoded);```

but the decode method expects

```public static function

[2016-05-17 13:55] mickadoo commented on #29
I could create a pull request for this if you'd like, changing the configuration options to accept an array of authorized_iss and removing the secret_base64_encoded

[2016-05-25 08:55] jankramer commented on #29
Ran into the same problem. Any news on this topic?

[2016-05-25 10:51] mickadoo commented on #29
@jankramer  It looks like this is [fixed in master](https://github.com/auth0/jwt-auth-bundle/blob/master/src/Security/Auth0Service.php) since April, just needs to be tagged.

Seems the `Auth0Service` class could also be cleaned up a little, the `$this->secret_base64_encoded` is assigned in the constructor but not actually a property. Also `$oauth_client` is never used.

[2016-05-25 11:25] mickadoo commented on #29
I  added a [pull request](https://github.com/auth0/jwt-auth-bundle/pulls) which cleans up the things mentioned in my last comment.

[2016-05-26 11:52] glena commented on #29
Thx for the PR. I will check this and try to merge this today.

Sorry for the delay with this issue.

[2016-05-26 13:46] glena commented on #29
Released under `2.0.1` let me know how this goes

[2016-05-26 15:47] jankramer commented on #29
@glena @mickadoo Thanks, that fixed it :+1:

[2016-06-24 21:45] OscarOrSomething commented on #29
I'm still getting this, v3

[2016-06-26 00:22] mickadoo commented on #29
@OscarOrSomething can you clarify what you mean by v3? The latest tag is 2.0.2

[2016-06-26 10:33] OscarOrSomething commented on #29
"auth0/login": "~3.0" is in my composer.json, Will try making it ~2.0

[2016-06-26 10:40] OscarOrSomething commented on #29
Still not working

[code]

`Authorization: Bearer e.....`

[code]

`Type error: Argument 4 passed to Auth0\SDK\Auth0JWT::decode() must be of the type array, null given, called in /home/oscar/Projects/T4A/t4ashop/vendor/auth0/login/src/Auth0/Login/Auth0Service.php on line 91`

[2016-06-26 12:22] OscarOrSomething commented on #29
Just realised this is the wrong repo, I guess I should make an issue at auth0/laravel-auth0 ?

[2016-06-26 12:35] OscarOrSomething commented on #29
Sorry, Wrong repository, Solved this by adding authorized_issuers to my config and not using an expired token. Soryr

[2016-06-26 14:59] glena commented on #29
So guys, can I close this issue? it is fixed for all of you right?

[2016-06-26 19:46] OscarOrSomething commented on #29
Probably, Yeah.

[2016-06-26 23:22] glena commented on #29
thx

[2016-06-26 23:22] #29 closed

[2016-07-27 12:06] darkyen opened #32 "Please update the auth0-php"
Currently it is tagged to the 3.0 branch, not latest https://github.com/auth0/jwt-auth-bundle/blob/1.2.8/composer.json#L24

[2016-09-04 15:30] AienTech opened #34 "Argument must implement interface 'JWTUserProviderInterface' though it's been implemented"
After Setting JwtAuthBundle through [Documentation](https://auth0.com/docs/quickstart/backend/php-symfony), I'm getting `Argument must implement interface Auth0\JWTAuthBundle\Security\Core\JWTUserProviderInterface`.

Checked my code and its ok, thought it might be a bud or something..., here is the trace:

[code]

[2016-09-04 15:39] AienTech commented on #34
Sorry, didn't noticed the order of user providers!
[code]

[2016-09-04 15:39] #34 closed

[2016-10-11 15:13] Amialc opened #36 "error with ping in example project"
After I login and clicked ping using example project, received this error as a response:
![image](https://cloud.githubusercontent.com/assets/1114365/19276216/585f8012-8fde-11e6-8b11-22c7fe229d83.png)

[2016-10-11 15:16] Amialc opened #37 "outdated auth0 lock in example project"
Example project [using](https://github.com/auth0/jwt-auth-bundle/blob/master/example/src/AppBundle/Resources/views/Default/index.html.twig#L25) outdated version of auth0 lock library.

[2016-10-11 15:36] Amialc opened #38 "invalid instruction in readme.md"
[Readme.md](https://github.com/auth0/jwt-auth-bundle/blob/master/example/README.md) suggest me to modify `/src/AppBundle/Resources/public/js/auth0-variables.js` file, but it doesn't exist.

[2016-11-18 17:00] Amialc opened #39 "SimplePreAuthenticatorInterface error"
After i've tried to run project, received this error:
![image](https://cloud.githubusercontent.com/assets/1114365/20438687/2d327e34-adc1-11e6-98cd-f444df9a07c3.png)

[2016-11-21 18:37] glena commented on #39
which version of symfony?

[2016-11-21 18:42] glena commented on #39
Based on the docs, the namespace and classname is ok http://api.symfony.com/3.1/Symfony/Component/Security/Http/Authentication/SimplePreAuthenticatorInterface.html

[2016-11-21 18:51] Amialc commented on #39
@glena i have used example, which [use](https://github.com/auth0/jwt-auth-bundle/blob/master/example/composer.json#L11) `2.6.*`

[2016-11-23 11:25] glena commented on #39
I just realized that you changed this line https://github.com/auth0/jwt-auth-bundle/pull/40/files#diff-3176edadd76e9f92102a081604b9441eR15

That could be the reason that it is not working

[2016-11-23 13:39] Amialc commented on #39
@glena in symfony 2.* SimplePreAuthenticatorInterface is [located](http://api.symfony.com/2.8/Symfony/Component/Security/Core/Authentication/SimplePreAuthenticatorInterface.html) in Core, not HTTP. So this line is changed to be compatible with symfony 2.*

[2016-11-23 13:46] glena commented on #39
`Since version 2.8, to be removed in 3.0. Use the same interface from Security\Http\Authentication instead.`

and https://github.com/auth0/jwt-auth-bundle#important

[2016-11-23 13:46] #39 closed

[2016-11-23 18:50] Amialc commented on #39
Then example should be updated to 3.* version of symfony.

[2016-11-23 19:57] #36 closed

[2016-12-13 15:23] #38 closed

[2016-12-13 15:23] #37 closed

[2016-12-13 15:47] Amialc opened #41 "1.2.10 SimplePreAuthenticatorInterface error"
(AUTH-3574)
Latest version of 1.x branch jwt-auth-bundle include SimplePreAuthenticatorInterface from `Http` when it should be loaded from `Core`
![image](https://cloud.githubusercontent.com/assets/1114365/21146752/75519788-c15b-11e6-8046-9046343b003b.png)
Proof:
![image](https://cloud.githubusercontent.com/assets/1114365/21146886/e7cc8912-c15b-11e6-82f7-37ea5338e64f.png)
![image](https://cloud.gi

[2016-12-13 15:50] Amialc opened #42 "outdated dependencies in example"
(AUTH-3575)
Example currently [use](https://github.com/auth0/jwt-auth-bundle/blob/master/example/composer.json) outdated version of jwt-auth-bundle and symfony, for example

[2016-12-21 14:04] paulinevos opened #43 "Optional field `secret_base64_encoded` does not work."
The optional configuration field `secret_base64_encoded` doesn't work when set to `false`.

`Auth0JWT::decode` will always attempt to decode the secret, even if it was never base64encoded to begin with, and verifying the signature fails.

[2016-12-21 14:06] paulinevos commented on #43
To test:
Set the `client_secret` option to a plain text value instead of a base64encoded value.

[2016-12-21 14:19] paulinevos commented on #43
Nvm, should've compared versions...

[2016-12-21 14:19] #43 closed

[2016-12-21 14:20] glena commented on #43
@paulinevos you manage to make it work?

[2017-01-10 07:50] leesiongchan opened #45 "client_secret is no longer base64 encoded by default"
See https://auth0.com/forum/t/client-secret-stored-without-base64-encoding/4338

So do you think it makes sense to have `secret_base64_encoded` option back?

[2017-01-10 12:22] glena commented on #45
Yes but didnt have to work on it yet. Do you depend on this? if so I can try to tackle this week

[2017-01-10 12:26] leesiongchan commented on #45
@glena Yea, that would be great!

[2017-01-10 12:27] glena commented on #45
ok, sorry about this, I will work on that.

[2017-01-10 13:40] glena commented on #45
which version are you using?
also, this change will require you to upgrade to auth0-php v4

[2017-01-11 00:52] leesiongchan commented on #45
I am using v2

[2017-01-11 17:02] glena commented on #45
Can you give it a try before releasing? https://github.com/auth0/jwt-auth-bundle/pull/46

The tag to be used with composer is `3.0.0-beta.1`.

Remember that you will need to upgrade to auth0-php v4 if you are using this in your project.

[2017-01-28 05:40] aequasi commented on #45
3.0.0-beta.1 seems to be broken.

[2017-01-30 21:06] petrepatrasc commented on #45
Any updates on this? As @aequasi has mentioned the 3.0.0-beta.1 branch is broken and new customers are unable to use Auth0 due to the December change.

[2017-01-31 13:20] glena commented on #45
@aequasi thx and sorry. can you check `3.0.0-beta.2`?

[2017-03-21 02:47] crmpicco commented on #39
Thanks, swapping out `use Symfony\Component\Security\Core\Authentication\SimplePreAuthenticatorInterface;` for `use Symfony\Component\Security\Http\Authentication\SimplePreAuthenticatorInterface;` is all that's needed for the 2.8 upgrade.

[2017-03-29 14:54] 1ukaz commented on #41
Yup! Same Issue here ...
Is not at Symfony\Component\Security\Http\Authentication\SimplePreAuthenticatorInterface;
but at:
use Symfony\Component\Security\Core\Authentication\SimplePreAuthenticatorInterface;

Simple Fix

[2017-03-29 15:34] zazoomauro commented on #45
+1

[2017-03-29 15:39] zazoomauro commented on #45
3.0.0-beta.2 throws

[code]

[2017-03-29 18:32] glena commented on #45
@zazoomauro can you provide more info? a callstack would be helpful

[2017-03-29 21:49] zazoomauro commented on #45
Simple latest symfony stable version installed with your bundle on your beta 2 commit

[2017-03-30 00:33] glena commented on #45
@zazoomauro Can you provide the full error with a call stack please?

[2017-03-30 08:15] zazoomauro commented on #45
I don't know how to do it really...
this just happens when you try to do a simple bin/console or a very small operation.

[2017-03-30 17:21] glena commented on #45
@zazoomauro Seems that one of the newer releases of symfony cant parse multiline arrays in yml files.
I just pushed `3.0.0-beta3` with the fix.
If it works properly, I will release the final `3.0.0`

[2017-03-31 08:22] zazoomauro commented on #45
next error: `Attempted to load class \"JWTVerifier\" from namespace \"Auth0\\SDK\".\nDid you forget a \"use\" statement for another namespace?`

Check in your Auth0Service class.

[code]

does not exists.

[2017-03-31 12:18] glena commented on #45
sorry cant repro.

Please check that the auth0-php sdk is installed and that it is the correct version required by this package `^4.0.11`

[2017-03-31 12:18] #45 closed

[2017-07-07 15:59] tchaffee opened #50 "Give us a way to specify cache when the JWTVerifier is created"
The Auth0Service uses JWTVerifier from the [auth0-PHP SDK](https://github.com/auth0/auth0-PHP). auth0-PHP allows specifying a [cache](https://github.com/auth0/auth0-PHP#decoding-and-verifying-tokens) which will greatly speed up requests to the Auth0Service. I am currently experience a 3000 millisecond response time for every request that uses the Auth0Service. I manually changed the Auth0Service t

[2017-07-10 19:39] #32 closed

[2017-07-10 21:11] 1ukaz commented on #41
Why closing without merging?
Sorry if I am mistaken

[2017-07-10 21:27] cocojoe commented on #41
Apologies, miss close.

[2017-07-10 21:29] 1ukaz commented on #41
Great! Will you merge it anyway?
Thx!

[2017-07-11 08:22] cocojoe commented on #41
So just look at libs, the other PR #44 updates the lib to symfony 2.8 which also fixes this [http://api.symfony.com/2.8 SimplePreAuthenticatorInterface.html](http://api.symfony.com/2.8/Symfony/Component/Security/Core/Authentication/SimplePreAuthenticatorInterface.html)
`core` is deprecated and `http` should be used.

[2017-07-11 08:53] cocojoe commented on #50
@Nyholm you mind if I summon you here? You're the Symfony guy 😄

[2017-07-11 10:03] Nyholm commented on #50
Of course. No problems at all.

@tchaffee Please try the patch in #51. That will help you.

[2017-10-23 14:27] erichard opened #54 "Allow multiple audiences in config"
I have two clients in auth0 one for a PWA and one for a native apps. Both should communicate with a Symfony API where I use this bundle.

As I see, the `JWTVerifier` is capable to validate token for mutliple audience but the auth0Service use  only one audience.

[2017-12-05 15:03] erichard commented on #54
Hello ?

[2018-01-05 13:57] novacp opened #55 "Support Symfony4"
Are there any plans to support sf4 in the near future? This is like a real blocker (for me) to use Auth0 in the future.

[2018-02-19 17:27] avramcosmin commented on #55
Same here. Already looking to an alternative to Auth0. Will cost us less build or move to another authentication service than maintaining a Symfony 3 application.

[2018-02-20 02:38] irikanderson commented on #54
This is an annoying limitation.

I have made this work by changing line 145 of Auth0Service to:

            'valid_audiences' => array_merge([ config('laravel-auth0.client_id') ], config('laravel-auth0.api_identifier')),

and then supplying config('laravel-auth0.api_identifier') as an array via the config

Would be nice if this Service was updated to support the complete functionality of JWTVerif

[2018-05-30 13:27] n3vrax commented on #55
why is this so hard?...there is already a pull request for this

[2018-05-30 14:28] joshcanhelp commented on #55
Apologies for the delay everyone. I'll get this into our board and in an upcoming sprint.

@n3vrax - #56 just adjusts Composer to allow Symphony 4.0, we haven't tested the rest of the code to make sure it all works. If you have and confirm that no other changes need to be made, that would be helpful to know.

[2018-05-30 16:09] n3vrax commented on #55
I forked and changed composer.json as in the pull request. I successfully installed the package, and symfony flex also enabled the bundle automatically. Other than that, I think the package can be used without any change. I'm still working on integrating it in my application, but haven't seen any issues with the code so far.

[2018-05-31 16:40] joshcanhelp commented on #55
Thank you @n3vrax. Hopefully the update will require minimal changes. Again, I'll make sure this is in an upcoming sprint.

[2018-06-22 09:09] nightio commented on #55
up

[2018-06-22 14:40] joshcanhelp commented on #55
@nightio - Working on it right now :)

My main hesitation with just pushing through #56 is putting our documentation out of date. That said, it's working so far with only minimal updates needed. On track to approve today or Monday 👍

Thanks for your patience!

[2018-06-22 17:59] #50 closed

[2018-06-22 18:00] joshcanhelp commented on #42
Examples have been moved to the [auth0-samples org](https://github.com/auth0-samples/auth0-symfony-api-samples).

[2018-06-22 18:00] #42 closed

[2018-06-22 18:01] joshcanhelp commented on #41
Assuming this has been taken care of so closing for now (and `master` supports Symfony 3). Please let us know if this is still an issue.

[2018-06-22 18:01] #41 closed

[2018-06-22 18:38] joshcanhelp commented on #55
🎉

[2018-06-22 18:38] #55 closed

[2018-07-11 16:10] joshcanhelp commented on #54
@erichard - Apologies for the delay here. We're working on this now for anyone else having this issue and will put out a new release as soon as it is merged.

@irikanderson - Thank you for posting a work-around here.

[2018-07-12 15:18] #54 closed

[2018-07-18 14:41] waldo2188 opened #59 "Allow to change the url jwks.json."
I use your bundle against our own JWT provider.

In the bundle, the url for retrieving the jwks is hard coded with the value `.well-known/jwks.json`
But the url for retrieving jwks on our provider is `/.well-known/openid-configuration/jwks`.

How can I configure this value with what I need?

[2018-07-19 18:08] joshcanhelp commented on #59
@waldo2188 - Thanks for the report here. That's actually hard-coded into the [PHP SDK](https://github.com/auth0/auth0-PHP/blob/eafcf1a24fbf3d49412044008b752be252600e06/src/Helpers/JWKFetcher.php#L67), which this bundle relies on. I'm not seeing any way to configure that at all currently but I will add that as an issue in the SDK and see if we can find a fix here.

If you have control over the JWKS

[2018-07-19 18:08] #59 closed

[2018-07-20 06:58] waldo2188 commented on #59
That's my problem, I can't change or add a redirect to this URL. So for now, I have change the URL directly in the PHP SDK. I know it's not a good things to do, but it works.

Thanks for your reply.

[2018-10-04 18:20] tarlepp opened #61 "Missing recipe for Symfony Flex"
To get this bundle autoconfigured properly there should be a recipe to make necessary extra steps, so that users that are using this bundle don't need to eg. add stuff manually to their `.env` file.

Docs about that is there https://github.com/symfony/recipes/blob/master/README.rst

[2018-11-02 14:16] leberknecht opened #62 ""Undefined index: environment" on composer install"
Hi!

Im getting
[code]
when i run `composer require auth0/jwt-auth-bundle:"^3.0"` on a SF4 application. Using PHP 7.2-10. I can bypass that by disabling notices, but i guess we should check if the field exists before accessing it. Or should it be `env` instead of `environment`?

![image](https://user-images.githubusercontent.com/1165177/47920313-0721ca00-deb2-11e8-9168-b9a032b58da9.png)

[2018-11-02 14:41] joshcanhelp commented on #62
Sorry for the trouble here @leberknecht. This was an update in the PHP SDK that is having issues in these dependent libraries. Almost have a fix ready ([auth0/auth0-PHP/#304](https://github.com/auth0/auth0-PHP/pull/304)) and will release a 5.3.2 version of that in just a bit today.

[2018-11-02 16:51] joshcanhelp commented on #62
Fixed and released in [5.3.2](https://github.com/auth0/auth0-PHP/releases/tag/5.3.2)

[2018-11-02 16:51] #62 closed

[2018-11-30 12:24] Avariya opened #63 "500 on expired token"
`JWT::decode` can throw `ExpiredException`, but any exception is converted to `CoreException` at `JWTVerifier->verifyAndDecode`.
So `CoreException` is throwed to `Auth0Service->decodeJWT` and it is not catched anywhere, what means 500 for Users Application.

To fix it - we need to create internal `ExpiredException` and use it for expired token and transform it to `AuthenticationException`, catch i

[2018-11-30 12:37] Avariya commented on #63
So fine fix will include pull requests to `auth0/auth0-php` and `auth0/jwt-auth-bundle` repositories. Are you ok with it? I can propose PR if this solution looks good for maintainers.

[2018-12-03 23:39] joshcanhelp commented on #63
@Avariya - thank you for the report here! I don't think I totally follow though ... The `\Auth0\SDK\JWTVerifier::verifyAndDecode` method throws a number of exceptions, it's meant to be used in a `try...catch` block. By proxy, the calling method should be wrapped as well. They are converted to `CoreException` so you don't have to also be aware of all the different exceptions that can be thrown by t

[2018-12-04 21:09] joshcanhelp commented on #63
I agree, it's not ideal in this case but changing that would be a breaking change for that SDK (issue should actually be raised there) because we'd be passing new Exception types. I'll make a note of it internally for a major version change. You can use the error message to output or log the issue, if needed.

[2018-12-04 21:09] #63 closed

[2019-09-27 08:12] darthf1 opened #80 "Remove SimplePreAuthenticatorInterface?"
Thanks for merging https://github.com/auth0/jwt-auth-bundle/pull/75!

Looking at the logs, I still get the following deprecation message:

`The "Auth0\JWTAuthBundle\Security\JWTAuthenticator" class implements "Symfony\Component\Security\Http\Authentication\SimplePreAuthenticatorInterface" that is deprecated since Symfony 4.2, use Guard instead.`

Since `Guard` is supported since SF 2.8, and the cu

[2019-09-27 15:32] joshcanhelp commented on #80
@darthf1 - Is that something you can do in your app or does it have to be removed from the library itself?

I'm fine with deprecating it now but it will need to be a major release to remove it completely.

[2019-11-02 03:58] #61 closed

[2019-11-29 13:14] darthf1 opened #86 "new release"
Hi,

Can you tag a new release? With the current stable i'm unable to upgrade Symfony:

[code]

This is fixed in https://github.com/auth0/jwt-auth-bundle/pull/79

[2019-12-02 19:33] joshcanhelp commented on #86
@darthf1 - Apologies for the delay here. I'll schedule this ASAP.

[2019-12-05 22:07] darthf1 commented on #80
I think this can be closed as i have no issues with SF 5.0

[2019-12-05 22:07] #80 closed

[2019-12-05 22:35] joshcanhelp commented on #86
On its way!

[2019-12-05 22:35] #86 closed

[2020-01-30 13:30] dunglas opened #91 "Broken link to Symfony API QuickStart Guide, is this bundle still maintained?"
### Description

The link to the `Symfony API QuickStart Guide` is broken.
This guide doesn't seem to exist anymore on the website.

Is this intended? Is it still a good idea to use this bundle to integrate Auth0 in a Symfony app?

[2020-02-02 19:16] niels-nijens commented on #91
Hey @dunglas, we're still successfully using this bundle in our Symfony 4 projects.

It seems Auth0 updated their documentation pages and forgot about the Symfony integration... (Or a new/updated quickstart is not done yet?)

[2020-02-03 15:54] dunglas commented on #91
Thanks for the feedback @niels-nijens!

[2020-02-03 15:55] dunglas commented on #91
I confirm that this bundle still works on my app too. However it relies on a deprecated version of the Auth0 PHP SDK.

[2020-02-25 14:33] gigo6000 commented on #80
@darthf1 could you please share your solution? the `JWTAuthenticator` provided by the bundle is not supported by Symfony 5 because of this `SimplePreAuthenticatorInterface`. I'm trying to implement this bundle on a Symfony 5 project because the `composer.json` allows it but I think is not really ready for that version.

[2020-02-25 14:36] darthf1 commented on #80
@gigo6000 I have `"auth0/jwt-auth-bundle": "3.3.1",` in my `composer.json` without any issues related to the SimplePreAuthenticatorInterface.

[2020-02-25 14:46] gigo6000 commented on #80
@darthf1 that's weird, I guess you're using a different authenticator, could you share your `security.yml` firewall config?

[2020-02-25 21:50] gigo6000 commented on #80
I realize there's actually a guard authenticator included in the bundle: https://github.com/auth0/jwt-auth-bundle/blob/master/src/Security/Guard/JwtGuardAuthenticator.php, and the service id is `jwt_auth.security.guard.jwt_guard_authenticator`, so the `jwt_auth.jwt_authenticator` should only be used for older Symfony versions.

[2020-03-31 07:37] darthf1 commented on #91
@joshcanhelp could you bring the situation to light? :) I see there's a few PR's open for a while now and the bundle is using an old version of the SDK.

[2020-05-05 09:11] darthf1 commented on #91
ping @lbalmaceda @joshcanhelp

[2020-05-29 11:15] shaunsosw opened #99 "Broken link to "Symfony API Quickstart Guide" in readme"
### Description

In the Readme the link to your own "Symfony API Quickstart Guide is broken. Expected a link to a Symfony Quickstart Guide.

### Reproduction

In the [resources section]( https://github.com/auth0/jwt-auth-bundle#resources) of the readme click the link to "Symfony API Quickstart Guides" which links [here](https://auth0.com/docs/quickstart/backend/symfony)

### Environment

- **Versi

[2020-05-29 11:16] #99 closed

[2020-08-03 17:01] dunglas commented on #91
This still is an issue.

[2020-08-04 19:38] jimmyjames commented on #91
Thanks for raising this issue. 👍

That Quickstart was removed as part of an effort to streamline our guidance across the wide tech stack landscape. We'll update the `README`  to remove that broken link, but keep the link to the samples repository.

Regarding your question about if this library is still recommended and maintained, I'll be as transparent as possible:

- We are currently looking to h

[2020-08-05 02:37] jimmyjames commented on #91
We've removed the broken link with #102. I'm going to close this issue, but feel free to raise any questions here, and we'll do our best to answer any additional questions.

[2020-08-05 02:37] #91 closed

[2020-08-22 14:18] cpcadmin opened #103 "Not compatible with the latest version of Auth0 module"
Can you please get this upgraded to use the Auth0 7.2 module?  We'd really like to be using the new stuff if we can.

[2020-10-09 07:46] darthf1 commented on #103
ping @jimmyjames

[2020-12-17 10:30] olix21 opened #107 "PHP 8 support"
Hello,

The 8th version of PHP was released last month. It could be great to support it.

I don't know if you guys have any plan to support it or if you rely on the community to do so.
I didn't take time (yet) to investigate what change should be made to ensure the PHP 8 compatibility

[2020-12-17 15:52] evansims commented on #107
Hey @olix21 👋 Thanks for bringing this up. Definitely on my radar. I'm presently working on updating [our upstream PHP SDK](https://github.com/auth0/auth0-PHP) to support PHP 8, and after that is released we can migrate that support down to this library. If you'd like to track progress toward that, [the PR for PHP 8 support is here.](https://github.com/auth0/auth0-PHP/pull/467).

[2021-01-06 14:08] mvanduijker commented on #107
I noticed that PHP 8 support is merged in the upstream PHP SDK. We would love to have that in the bundle. Would solve https://github.com/auth0/jwt-auth-bundle/issues/103 as well. Is there any timeline we can expect this work to happen or are there ways we could help?

[2021-01-06 17:12] evansims commented on #107
Hey @mvanduijker! 👋 I'm not able to offer a timeline at the moment, but I'm working my way through our PHP ecosystem presently to bring everything up to date. I've not yet looked at this library in terms of necessary changes to introduce PHP 8 support and I don't want to make promises or set expectations until I have a better feel for where this one is at.

Now that support has shipped in the PHP

[2021-01-07 11:23] mvanduijker commented on #107
Thanks for the update @evansims. We are not quite ready to make the move to PHP8 yet. But when this will be the last thing on our list I can try to make some time to make a contribution.

[2021-01-15 18:13] cpcadmin commented on #103
My apologies, but this is still a big problem for us, we have written custom code as a work around but it is a horrible methodology, especially knowing it things could change in the future.  Really need this to work with newest version of Auth0 sdk.  Thanks.

[2021-01-15 18:57] evansims commented on #103
Hey @cpcadmin! 👋 Sorry for the frustration. That's understandable and I certainly sympathize. We're working our way through our PHP libraries as quickly as we can to bring everything up to date, but support around the release of PHP 8 in our upstream SDK has had most of our attention recently. This library is on our radar and will be receiving an update shortly. In the meantime if you have any con

[2021-02-16 15:53] amarlot commented on #103
Good news. We are waiting for this update as well.

[2021-02-16 16:13] dsism commented on #103
Any prediction? This is the point that is blocking us to use this bundle .

[2021-02-18 03:29] evansims commented on #103
@dsism My apologies but I'm not able to give a timeframe at this time. There's quite a bit of work yet to do to support the PHP SDK dependency upgrade. However, efforts toward that end are also part of the PHP 8 compatibility being tracked in #107; once that is released this issue will also be resolved.

[2021-02-21 09:21] obukhov commented on #80
@gigo6000 thanks so much for your message. I wish that would be written in the doc for this package (which is missing)

[2021-03-12 23:11] evansims commented on #107
Just an update on this, we've merged the PR supporting PHP 8 and it's pending a security review. We'll have a release ready soon!

[2021-03-12 23:12] evansims commented on #103
Just an update on this, we've merged a PR adding support for PHP SDK 7.6 and it's pending a security review. We'll have a release ready soon!

[2021-03-22 08:33] RSalo commented on #103
Hi. I can't use this bundle same:
[code]

[2021-03-24 12:34] evansims commented on #107
PHP 8.0 support is now available with the 4.0.0 release. 🥳 Thanks again for your help on this, @olix21.

[2021-03-24 12:34] #107 closed

[2021-03-24 12:35] evansims commented on #103
4.0.0 is now available with support for the 7.x Auth0 PHP SDK branch.

[2021-03-24 12:35] #103 closed

[2021-05-31 13:51] darthf1 opened #115 "Support new Authenticator system"
In SF 5.1, a new Authenticator-based security system was [introduced](https://symfony.com/blog/new-in-symfony-5-1-updated-security-system) as an experimental feature. With SF 5.3 released (today), the Guard system is deprecated whilst the new Authenticator system is marked stable and will be set as the default for SF 6.0.

Upgrading to SF 5.3 results leads to the following deprecation notice:
[cod

[2021-06-01 03:48] evansims commented on #115
Thanks for the heads up on this, I'll investigate this when my bandwidth next opens up a little

[2021-06-28 18:45] evansims commented on #115
📆  Scheduling this work for a new 5.0 milestone built on PHP SDK 8.0, pending its own beta release next month.

[2021-08-12 02:57] sufius opened #117 "Inconsistent install instructions for master branch"
Could you please provide some useful install instructions for the master branch. There is written that you should install this bundle like this:

`composer require auth0/jwt-auth-bundle:"~3.0"`

but the configuration underneath is not fitting to the configuration required for branch ~3.0

also the master branch is not ~3.0, it is ~4.0...

It would be really nice to provide at least one single exam

[2021-08-12 11:49] evansims commented on #117
Hi @sufius 👋  You're correct, you should use ~4.0 to install. I've updated the README. The instructions laid out in the README are otherwise correct.

[2021-08-12 11:49] #117 closed

[2021-08-12 18:31] gaetanbuellet opened #118 "conflict between lcobucci/jwt and auth0/php-jwt"
According to this issue, https://github.com/auth0/auth0-PHP/issues/507 concerning the conflict between lcobucci/jwt and auth0/php-jwt, the version 8.0 is in beta2. So, are you working on an update of this bundle at short therme or should we do it by ourself ?

[2021-08-12 19:04] evansims commented on #118
Hi @gaetanbuellet 👋  Unfortunately, I don't currently have an ETA as to when this library will be getting updated to use the new SDK — sorry about that. We're currently slated to update the Laravel package next, after the SDK has a stable release. You might consider checking out [happyr/auth0-bundle](https://github.com/Happyr/auth0-bundle) in the meantime, which a community bundle using the new be

[2021-08-12 19:04] #118 closed

[2021-09-21 14:11] sufius opened #120 "Link not working. Running sample required, otherwise..."
Unfortunately the link to a sample project is not working.

![2021_09_21___16_07_54](https://user-images.githubusercontent.com/1421570/134186395-1d9fc803-1183-46dc-99f4-2ef2153c4c94.png)

Could you please provide a working example (for symfony) with usage of protecting routes **by scopes**?

[2021-09-21 15:36] evansims commented on #120
Hi @sufius unfortunately we no longer have up to date QuickStarts available for this library. I'll make a note to remove that deprecated link until we can get something online again. If I can answer any questions for you otherwise about using the library please let me know.

[2021-09-21 15:36] #120 closed, assigned to nobody

[2021-09-23 00:25] abdojulari commented on #115
I have been trying to follow your article but I have a lot of issue. I am new to symfony, and integrating with auth0 is cumbersome. Jwt-auth-bundle has a lot of deprecation and I don't know how to fix it. I am running symfony 5.3

[2021-10-30 07:27] Brainshack opened #122 "Links to examples in documentation are broken"
### Describe the problem
In the Readme, the link to "Symfony API Samples" and the link to "example code" lead to a 404 page.

### What was the expected behavior?

Links bringing me to the code samples, which would be important for new users.

### Reproduction
Just click the links on the home page of the repository.

### Environment
- master branch

- **Version of this library used:**
- **Which fra

[2021-10-31 22:15] evansims commented on #122
Hi @Brainshack 👋 Unfortunately we do not currently have any available quickstart documentation for this library. I'd recommend taking advantage of the [Auth0 Community](https://community.auth0.com/) for guidance.

[2021-10-31 22:15] #122 closed

[2021-11-05 06:47] ricbra commented on #122
Shouldn't it be better to remove the dead link from the docs here? I stumbled upon the same and also wanted to raise an issue but then found this one.

[2022-01-13 08:30] emancypage commented on #115
We are looking for your MR @mcsky so lets ping @evansims to review your code.

[2022-01-13 21:47] evansims commented on #115
Hi @emancypage 👋 I appreciate that you're waiting on this enhancement. As mentioned previously, other work currently has priority, but I'll review this PR as soon as I have bandwidth and am able to give it the attention it deserves. I appreciate your work on this @mcsky.

[2022-02-09 08:25] francis-roux-serret opened #124 "Dependencies conflict"
### Package conflict

We are using V4.0.0 of this package and also using the https://github.com/symfony /
[mercure-bundle](https://github.com/symfony/mercure-bundle)

**auth0/jwt-auth-bundle** uses V7 of **auth0/auth0-php**, which uses a fork of [lcobucci/jwt](https://github.com/lcobucci/jwt) package, with same namespace but added breaking changes.
**mercure** bundle use the original [lcobucci/jwt

[2022-02-09 20:16] evansims commented on #124
Hi @francis-roux-serret 👋 Thanks for your report. This is a known issue. The fork of the JWT library was necessary for PHP 8 support, as the upstream author did not want to backport changes necessary to support PHP 8 on the 3.x branch. The fork did not include breaking changes, but was incompatible with other libraries with the same dependency.

We will be upgrading this library to use the underly

[2022-02-15 14:50] krizon commented on #124
+1. Also have the same issue here 👋

[2022-02-15 18:09] thomask opened #125 "Symfony 6 support"
Hi!

Any plans for Symfony 6 support?

[2022-02-15 20:10] evansims commented on #125
Hi @thomask 👋 This is on our radar, but we do not currently have a timeline I can share on this.

[2022-02-15 20:10] #125 closed

[2022-02-15 20:15] evansims commented on #124
👋 I've pinned this issue for public reference. I'll be closing the ticket for now, as our policy is not to leave tickets open that are not actionable in the short term based on our bandwidth/schedule. However, I assure you this work has been backlogged and is on our radar, our closure of the ticket is not indicative of us dismissing its necessity. We'll update this thread and re-open the ticket wh

[2022-02-15 20:15] #124 closed

[2022-03-16 08:41] mkilmanas opened #127 "Add support for symfony/framework-bundle:^6.0"
### Describe the problem you'd like to have solved
We are using this bundle yet we cannot upgrade to Symfony 6.0 because this bundle only supports `symfony/framework-bundle: ^4.4 || ~5.1`.

Likewise, it would not be possible to use this bundle on any new project starting up with Symfony 6 (which is publicly available for over 3 months now)

### Describe the ideal solution
Considering that Symfony

[2022-03-28 15:21] evansims commented on #127
Hey @mkilmanas 👋 Thanks for your contribution! I'll give this a review ASAP.

[2022-03-29 01:10] evansims commented on #127
Hi @mkilmanas 👋 Thanks for your contributions. I have merged your changes along with #121 into [the new 5.x-dev branch.](https://github.com/auth0/jwt-auth-bundle/tree/5.x-dev) while development continues on that new major.

[2022-03-29 01:10] #127 closed

[2022-03-29 01:17] evansims opened #130 "`jwt-auth-bundle` v5 development thread"
This thread is to allow the development and discussion around the forthcoming 5.0 major release of `jwt-auth-bundle`, currently in development. As conversations had begun to splinter across a few separate issues on the subject, I thought it in our best interest to have a central place to bridge these discussions.

The [5.x-dev branch](https://github.com/auth0/jwt-auth-bundle/tree/5.x-dev) is the i

[2022-03-29 01:19] evansims commented on #115
The changes provided by @mcsky have been merged into the new [5.x-dev branch](https://github.com/auth0/jwt-auth-bundle/tree/5.x-dev). Note that this branch should be considered experimental, but further feedback and pull requests are welcome.

As discussions about features to be included in the next major have become splintered across a few seperate issues, let's consolidate further discussion in

[2022-03-29 01:19] #115 closed

[2022-03-29 01:20] evansims commented on #127
Hi @mkilmanas 👋 Thanks very much for your contributions! I have merged your changes along with #121 into [the new 5.x-dev branch](https://github.com/auth0/jwt-auth-bundle/tree/5.x-dev) while development continues on that new major.

As discussions about features to be included in the next major have become splintered across a few separate issues, let's consolidate further discussion in this thread

[2022-04-07 14:59] kudlar commented on #124
It doesn't work for me, because `JWTAuthBundle` class calls `Auth0\SDK\API\Helpers\ApiClient` in its constructor. But this class was removed in **auth0/auth0-php** v8.0.0. It was there in v7.9.2 though.

[2022-04-20 15:20] Un3x opened #131 "Using jwt-auth-bundle with symfony 6"
Hello there,
I've been creating recently a new symfony app and planned to use auth0 as my authentification system.
I encountered an error while running

`composer require auth0/jwt-auth-bundle`

 which lead to latest stable version 4.0.0.

After some research i found that there was an issue with the new authenticator systems embedded with symfony 6 and found this PR which has been merged and relea

[2022-04-20 15:26] Un3x commented on #131
Okay i'm sorry, it seems this pr : https://github.com/auth0/jwt-auth-bundle/issues/127 solves the issue and is planned in the 5.x version.

[2022-04-20 15:31] #131 closed, assigned to nobody

[2022-05-02 16:48] evansims commented on #130
I'll be commencing work on migrating the library to the new version of the underlying Auth0 SDK sometime this week

[2022-05-27 08:28] roed commented on #130
@evansims how is the Auth0 SDK upgrade progressing?

[2022-07-18 07:59] michielkalle commented on #130
@evansims is this feature ready for release?
I have tested this branch with Symfony 6.0 and PHP 8.1, didn't find any issues.

[2022-07-19 01:15] evansims commented on #130
Hi @michielkalle 👋 Thanks for testing the development branch. There's a bit more work to be done before we're ready to release this, but you are welcome to continue using the test branch meanwhile. I'm unable to provide a firm timeline right now, but this is on my radar and will receive attention soon.

[2022-07-19 20:52] brettins commented on #130
Am I missing something about trying out the development branch? None of it will run because of conflicts with the `Lcobucci\JWT` bundle as the `7.9.2` version of the `auth0-php` that the current dev version requires, because it uses a temporary fork and composer won't install properly.

[2022-08-10 17:07] brettins commented on #130
@evansims I have almost everything working but I keep getting an error from the `Auth0` decode service.

In the Auth0 PHP SDK, it gets here and throws an error:

[code]

I'm not sure how we're supposed to be generating the `kid` header from the libraries or how that was handled before. Any ideas?